* {
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

html, body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #E5E5E5;
}

.card {
  width: 600px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0 8px 8px 0 rgba(255,255,255, 0.1);
  backdrop-filter: blur( 10px );
  border-radius: 12px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 20px 0px 20px 0px;
}

.navbar {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #FFFFFF;
  height: 65px;
  padding: 20px;
}

.header-icon {
  height: 100%;
  margin-right: 10px;
}

.header-title {
  font-weight: 700;
  font-size: 1.25rem;
}